$padding : 5;
$margin : 5;
$col : 8.33%;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    //color: #060119;
    //font-size: 16px;
}
html{
    height: 100%;
}
body{
    height: 100%;
    position: relative;
    .bg{
        position: fixed;
        width: 100%;
        height: 100%;
        background: url('/images/wave.svg') bottom no-repeat;
        bottom: 0;
        left: 0;
        z-index: -1;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        padding-bottom: 15px;
        color: #999999;
        font-size: 0.8rem;
    }
}
#app{
    height: 100%;
}
.container{
    width: 100%;
    //height: 100%;
}
.h-100{
    height: 100%;
}
.w-100{
    width: 100%!important;
}
.w-75{
    width: 75%;
}
.w-50{
    width: 50%;
}
.w-25{
    width: 25%;
}
.d-flex{
    display: flex;
}
.d-block{
    display: block;
}
.relative{
    position: relative;
}
.align-center{
    align-items: center;
}
.align-end{
    align-items: flex-end;
}
.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.justify-end{
    justify-content: flex-end;
}
.p-30{
    padding: 30px;
}
.m-auto{
    margin:auto!important;
}
@for $i from 0 through 12 {
    .m-#{$i}{
        margin:($i*$margin)+px!important;
    }
    .ml-#{$i}{
        margin-left:($i*$margin)+px!important;
    }
    .mr-#{$i}{
        margin-right:($i*$margin)+px!important;
    }
    .mt-#{$i}{
        margin-top:($i*$margin)+px!important;
    }
    .mb-#{$i}{
        margin-bottom:($i*$margin)+px!important;
    }
}
@for $i from 0 through 12 {
    .p-#{$i}{
        padding:($i*$margin)+px!important;
    }
    .pl-#{$i}{
        padding-left:($i*$padding)+px!important;
    }
    .pr-#{$i}{
        padding-right:($i*$padding)+px!important;
    }
    .pt-#{$i}{
        padding-top:($i*$padding)+px!important;
    }
    .pb-#{$i}{
        padding-bottom:($i*$padding)+px!important;
    }
}
@for $i from 0 through 12 {
    .col-#{$i}{
        width:($i*$col);
    }
}
.rounded{
    border-radius: 7px;
}
.side-menu{
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    top:0;
    .logo{
        margin-bottom: 30px;
    }
    ul{
        list-style: none;
        li{
            margin-bottom: 15px;
            a{
                text-decoration: none;
                color:#10043b;
                font-size: 1.05rem;
                &.router-link-active{
                    color: #00c2d6;
                    font-weight: 500;
                }
                &:hover{
                    color: #00c2d6;
                }
            }
            &:has(> a.router-link-active) {
                position: relative;
                &:after{
                    content: "";
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    z-index: 12;
                    background: #00c2d6;
                }
            }
        }
    }
}
.content{
    width: 100%;
    min-height: 100%;
    border-left: 1.3px solid #eff3f9
}
.top-menu{
    background: #eff3f9;
    position: sticky;
    top:0;
    width: 100%;
    padding: 30px;
    z-index: 2;
    border-bottom: 1.5px solid #ffffff;
    nav{
        width: 100%;
        .search{
            height: 40px;
            border-radius: 20px;
            outline: none;
            border: 1.25px solid #999999;
            padding: 0 20px;
            width: 300px;
        }
        .profile{
            display: flex;
            align-items: center;
            .name{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                margin-right: 15px;
                small{
                    color:#999999;
                    font-weight: 300;

                }
            }
            a{
                text-decoration: none;
                .img{
                    height: 45px;
                    width: 45px;
                    background: #1b0668;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color:#ffffff;
                }
            }
        }
    }
}
.page-title{
    font-size: 1rem;
    background: #1b0668;
    color: #fff;
    padding: 7px 35px 7px 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -10px;
    border-radius: 5px 5px 5px 0;
    min-width: 250px;
    &:after{
        content: "";
        position: absolute;
        left: 0;
        bottom: -5px;
        border-left: 9px solid transparent;
        border-top: 5px solid #000000;
    }
}
.bg-white{
    background: #ffffff;
}
.shadow{
    box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.05);
    -webkit-box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.05);
}
.date-range{
    position: relative;
    z-index: 0;
    &:before{
        content: '';
        height: 16px;
        width: 16px;
        background: url('/images/calendar-blue.png') no-repeat;
        background-size: contain;
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
    }
    &:after{
        content: '';
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #1B0668;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }
    input{
        height: 40px;
        width: 220px;
        padding: 0 30px;
        border-radius: 7px;
        border: 1.25px solid #1B0668;
        outline: none;
        color: #1B0668;
        cursor: pointer;
        text-align: center;
    }
}
.dashboard-summary{
    list-style: none;
    display: flex;
    justify-content: space-between;
    li{
        width: calc(25% - 5px);
        height: 100px;
        background: url('/images/wave2.svg') bottom no-repeat, #efefef;
        border: 2px solid #fff;
        border-radius: 8px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .title{
            font-size: 1rem;
        }
        .value{
            font-size: 2rem;
            small{
                color: #999999;
                font-size: 1rem;
                font-weight: 300;
            }
        }
    }
}
.dashboard-data{
    min-height: 350px;
    .data{
        flex: 1;
        background: #fff;
        border-radius: 8px;
        margin-right: 15px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        .graph{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .log{
        position: sticky;
        top:130px;
        width: 350px;
        height: 100%;
        background: #fff;
        border-radius: 8px;
        padding: 20px;
        .title{
            font-size: 0.8rem;
            letter-spacing: 1px;
            color:grey;
        }
        .value{
            font-size: 2rem;
        }
        table{
            width: 100%;
        }
    }
}
.text-right{
    text-align: right;
}
.hide{
    display: none!important;
}
.last-data{
    .styled-table {
        width: 100%;
        border-collapse: collapse;
        margin: 5px 0;
        font-size: 0.9em;
        font-family: sans-serif;
        min-width: 400px;
        // box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        thead tr {
            background-color: rgb(96, 96, 96);
            color: rgb(255, 255, 255);
            text-align: left;
            text-transform: uppercase;
            font-size: 0.8rem;
            letter-spacing: 1px;
            th{
                padding: 12px 15px;
            }
        }
        tbody tr {
            border-bottom: 1px solid rgb(239, 243, 249);
            &:nth-of-type(even) {
                background-color: rgb(239, 243, 249);
            }
            &:last-of-type {
                border-bottom: 2px solid #1b0668;
            }
            td{
                padding: 12px 15px;
                font-size: 0.9rem;
            }
        }
    }
    .title{
        padding: 5px 15px;
        text-transform: uppercase;
        font-size: 1rem;
        letter-spacing: 2px;
        color:grey;
    }
    .last-data-item{
        list-style: none;
        width: 100%;
        background: red;
        li{
            background: #fff;
            display: flex;
            padding: 15px;
            .col{
                .sub-title{
                    text-transform: uppercase;
                    font-size: 0.6rem;
                    letter-spacing: 1.5px;
                    color:grey;
                    margin-bottom: -5px;
                }
                &.left{
                    flex: 1;
                }
                &.right{
                    text-align: right;
                }
                .fs{
                    font-size: 0.9rem;
                }
            }
            &:not(:last-child){
                border-bottom: 1px solid #efefef;
            }
            &:hover{
                background:#eff3f9;
                cursor: pointer;
            }
        }
    }
}

.badge{
    font-size: 0.7rem;
    padding: 1px 8px;
    border-radius: 5px;
    white-space: no-wrap;
    &.primary{
        background: #1b0668;
        color:#ffffff;
    }
    &.secondary{
        background: #5F9DF7;
        color: #1b0668;
    }
    &.warning{
        background: #FF731D;
        color:#fff;
    }
    &.light{
        background: #FFF7E9;
        color:#FF731D;
    }
    &.green{
        background: #06674c;
        color:#ffffff;
    }
    &.active{
        background: #06674c;
        color:#ffffff;
    }
    &.open{
        background: #91c685;
        color: #ffffff;
    }
    &.pending{
        background: #DBA40E;
        color:#ffffff;
    }
    &.succeed{
        background: #4B5A20;
        color:#ffffff;
    }
    &.failed{
        background: #E12A2A;
        color:#ffffff;
    }
    &.rejected{
        background: #192A29;
        color:#ffffff;
    }
    &.missed{
        background: #282120;
        color:#ffffff;
    }
    &.busy{
        background: #FF5765;
        color:#ffffff;
    }
    &.invalid{
        background: #FFAEBC;
        color:#ffffff;
    }
    &.expired{
        background: #0F1300;
        color:#ffffff;
    }
}
.datatable{
    font-size: 0.9rem;
    width: 100%;
}
.dataTables_filter, .dataTables_length{
    margin-bottom: 15px;
    font-size: 0.9rem;
}
.dataTables_info, .dataTables_paginate{
    margin-top: 10px;
    font-size: 0.9rem;
}
table.dataTable thead tr{
    background: #eff3f9;
}
table.dataTable thead th, table.dataTable thead td{
    border-bottom: 1px solid rgb(217 217 217)!important;
    border-top: 5px solid #b2b2b2;
}
table{
    tr{
        th{
            font-weight: 500!important;
        }
        th,td{
            font-size: 0.9rem;
        }
    }
}
.text-center{
    text-align: center!important;
}
.text-right{
    text-align: right!important;
}
.text-left{
    text-align: left!important;
}
.btn{
    height: 40px;
    width: inherit;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    text-decoration: none;
    font-size: 0.9rem;
    border-radius: 8px;
    cursor: pointer;
    &.btn-sm{
        height: 30px;
        padding: 0 10px;
        font-size: 0.8rem;
    }
    .loading{
        .icon{
            width: 22px;
            height: 22px;
            background: url('/images/loading.gif') center no-repeat;
            background-size: contain;
            margin-right: 5px;
        }
        display: none;
    }
    &.btn-primary{
        background: #1b0668;
        border:1.5px solid #1b0668;
        color:#ffffff;
        .text{
            color:#ffffff;
        }
        &.submitting{
            pointer-events: none;
            .text{
                display: none;
            }
            .loading{
                display: flex;
                color:#ffffff;
                align-items: center;
            }
        }
        &:hover{
            color:#ffffff;
            background: #4313f1;
            border-color: #4313f1;
        }
    }
    &.btn-outline-primary{
        background: transparent;
        border:1.4px solid #1b0668;
        color: #1b0668;
        font-weight: 400;
        .text{
            color:#1b0668;
        }
        &.submitting{
            pointer-events: none;
            .text{
                display: none;
            }
            .loading{
                display: flex;
                color:#1b0668;
                align-items: center;
            }
        }
        &:hover{
            color:#ffffff;
            background: #4313f1;
            border-color: #4313f1;
            .text{
                color:#ffffff;
            }
        }
    }
    &.btn-outline-dark{
        background: #ffffff;
        border:1.25px solid #060119;
        color:#000000;
        &:hover{
            color:#ffffff;
            background: #060119;
        }
    }
    &.btn-flat{

    }
    &:disabled{
        background: #999999;
        border-color:#999999;
        pointer-events: none;
        font-weight: 300;
        cursor: not-allowed;
    }
    &.assign_data{
        max-width: 100px;
    }
}
@mixin select{
    height: 40px;
    min-width: 200px;
    outline: #00c2d6;
    border-radius: 3px;
    padding: 0 45px 0 15px;
    border: 1px solid #808080;
    cursor: pointer;
    font-size: 0.95rem;
    &:focus{
        border: 1px solid #00c2d6;
    }
    &:disabled{
        cursor: not-allowed;
        color: #808080;
    }
}
.top-action{
    min-height: 34px;
}
.data-filter{
    label{
        display: block;
        font-size: 0.9rem;
        margin-bottom: 5px;
    }
    select{
        @include select
    }
    .btn-filter{
        border-radius: 2px!important;
        background: #1b0668;
        border: 1.5px solid #1b0668;
        color: #ffffff;
        padding: 0 15px;
        &:hover{
            color:#ffffff;
            background: #4313f1;
            border-color: #4313f1;
        }
    }
}
h4{
    font-size: 1.1rem;
}
b{
    font-weight: 400!important;
}
.decoration-none{
    text-decoration: none;
}
.breadcrumb{
    list-style: none;
    display: flex;
    li{
        display: flex;
        align-items: center;
        a{
            text-decoration: none;
            font-size: 0.8rem;
            color: #060119;
        }
    }
}
.form-group{
    label{
        display: block;
        font-size: 1rem;
        margin-bottom: 5px;
        &.disabled{
            cursor: not-allowed;
            color: #808080;
        }
    }
    input{
        height: 40px;
        outline: #00c2d6;
        padding: 0 15px;
        font-size: 0.95rem;
        border: 1px solid #707070;
        border-radius: 3px;
        min-width: 200px;
        &:focus{
            border: 1px solid #00c2d6;
        }
        &::placeholder{
            font-size: 0.9rem;
        }
        &.error{
            border-color:red;
            margin-top: 0;
            &::placeholder{
                color:red;
            }
        }
    }
    select{
        @include select
    }
    textarea{
        outline: #00c2d6;
        border-radius: 3px;
        font-size: 1rem;
        &:focus{
            border: 1px solid #00c2d6;
        }
        &::placeholder{
            font-size: 0.9rem;
        }
    }
    .error, .error-url{
        display: block;
        margin-top: -3px;
        color: #E12A2A;
        font-size: smaller;
    }
    select {
        background-color: white;
        display: inline-block;
        margin: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-image:
            linear-gradient(45deg, transparent 50%, gray 50%),
            linear-gradient(135deg, gray 50%, transparent 50%),
            linear-gradient(to right, #ccc, #ccc);
        background-position:
            calc(100% - 20px) calc(1em + 2px),
            calc(100% - 15px) calc(1em + 2px),
            calc(100% - 2.5em) 0.5em;
        background-size:
            5px 5px,
            5px 5px,
            1px 1.5em;
        background-repeat: no-repeat;
        &:focus {
            background-image:
                linear-gradient(45deg, green 50%, transparent 50%),
                linear-gradient(135deg, transparent 50%, green 50%),
                linear-gradient(to right, #ccc, #ccc);
            background-position:
                calc(100% - 15px) 1em,
                calc(100% - 20px) 1em,
                calc(100% - 2.5em) 0.5em;
            background-size:
                5px 5px,
                5px 5px,
                1px 1.5em;
            background-repeat: no-repeat;
            //border-color: green;
            outline: 0;
        }
        &:-moz-focusring {
            color: transparent;
            text-shadow: 0 0 0 #000;
        }
    }
}
.row{
    display: flex;
}
.primary-link{
    color: #0f043b;
    font-size: 0.95rem;
    text-decoration: none;
    &:hover{
        color:#00c2d6;
    }
}
.campaign-detail{
    .title{
        display: block;
        text-transform: uppercase;
        font-size: 0.85rem;
        letter-spacing: 1px;
        color: #999999;
    }
    .value{

    }
}
.progress{
    position: relative;
    .percent{
        width: 300px;
        height: 300px;
        border-radius: 50%;
        //background: #0bf1d157;
        position: relative;
        transform: rotate(270deg);
        svg{
            width: 300px;
            height: 300px;
            position: relative;
            circle{
                width: 100%;
                height: 100%;
                fill: transparent;
                stroke-width: 10;
                stroke: #efefef;
                transform: translate(5px, 5px);
                &:nth-child(2){
                    stroke-dasharray: 880;
                    stroke-dashoffset: calc(880 - (880 * var(--num))/100);
                    stroke: #1b0668;
                    //animation: progress-anim 2s linear forwards;
                }
            }
        }
    }
    .value{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 4.5rem;
        width: 100%;
        height: 100%;
        flex-direction: column;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color:#1b0668;
        span{
            font-weight: 300;
        }
        small{
            font-size: 1.5rem;
            color: #1b0668;
            span{
                font-weight: 300;
            }
        }
    }
}
@keyframes progress-anim {
    0%{
        stroke-dashoffset: calc(840 - (840 * 0)/100);
    }
    100%{
        stroke-dashoffset: calc(840 - (840 * var(--num))/100);
    }
}
.detail-menu{
    background: #eff3f9;
    padding: 7px;
    width: 100%;
    border-radius: 7px;
    ul{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        li{
            //margin-right: 15px;
            padding: 7px 10px;
            cursor: pointer;
            font-size: 0.9rem;
            //font-weight: 300;
            text-align: center;
            &.active{
                background: #1b0668;
                border-radius: 7px;
                color:#ffffff;
                font-weight: 400;
            }
        }
    }
}
.fw-300{
    font-weight: 300;
}
.data-history-div{
    position: sticky;
    top:150px;
    &:after{
        content: '';
        width: 100%;
        height: 100px;
        position: absolute;
        bottom:0;
        left:0;
        z-index: 2;
        background-image: linear-gradient(to top, #ffffff ,#ffffff , rgb(0,0,0,0));
        border-radius: 0 0 10px 10px;
    }
    .view_all{
        display: flex;
        align-items: center;
        z-index: 3;
        position: absolute;
        bottom:15px;
        right:30px;
        font-size: 0.9rem;
        text-decoration: none;
        cursor: pointer;
    }
}
.data-history{
    list-style: none;
    position: relative;
    &.snippet{
        max-height: 350px;
        overflow: hidden;
    }
    li{
        position: relative;
        .log{
            font-size: 0.9rem;
        }
        &:before{
            content: '';
            width: 10px;
            height: 10px;
            background: #9b9999;
            border-radius: 50%;
            position: absolute;
            top: 5px;
            left:-25px;
            //transform: translateY(-50%);
        }
        &:first-child{
            &:before{
                content: '';
                background: #f44336;
            }
        }
        &:not(:last-child){
            margin-bottom: 20px;
        }
    }
    &:before{
        content: '';
        width: 1px;
        height: calc(100% - 10px);
        background: #c9c9c9;
        position: absolute;
        top:5px;
        left: -5px;
    }
}
.list-of-action-status{
    list-style: none;
    li{
        cursor: pointer;
        margin-bottom: 15px;
        input{
            margin-right: 7px;
        }
        span{
            b{
                font-size: 0.8rem;
            }
        }
        label{
            font-size: 0.9rem;
            cursor: pointer;
            i{
                font-weight: 300;
            }
        }
    }
}
.table-1{
    width: 100%;
    //border: 1px solid #707070;
    text-align: left;
    border-collapse: collapse;
    border-radius: 3px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    thead{
        tr{
            background: #eff3f9;
        }
    }
    tr{
        th{
            //border: 1px solid #707070;
            border-bottom: 1px solid rgb(217, 217, 217) !important;
            border-top: 5px solid #b2b2b2;
            padding: 10px 15px;
            font-weight: bold;
            color: #2a2a2a;
        }
        td{
            //border: 1px solid #707070;
            padding: 10px 15px;
            border-bottom: 1px solid rgb(217, 217, 217) !important;
            .icon-delete{
                font-size: 1.3rem;
                color:#1b0668;
            }
        }
    }
    tbody{
        tr{
            &:nth-child(even) {
                background: #f3f3f3ab;
            }
        }
    }
}
.capitalize{
    text-transform: capitalize;
}
a, a:visited, a:hover, a:active {
    color: #048f9d;
}
.spinner {
    border: 2px solid #f3f3f3;
    border-top: 2px solid #3498db;
    border-radius: 50%;
    width: 22.2px;
    height: 22.2px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader {
    margin-left: 10px;
    margin-top: 10px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #999999;
    box-shadow: 9px 0 #fff, -9px 0 #fff;
    position: relative;
    animation: flash 0.5s ease-out infinite alternate;
}

@keyframes flash {
    0% {
        background-color: #cccccc;
        box-shadow: 9px 0 #FFF2, -9px 0 #999999;
    }
    50% {
        background-color: #999999;
        box-shadow: 9px 0 #cccccc, -9px 0 #cccccc;
    }
    100% {
        background-color: #cccccc;
        box-shadow: 9px 0 #999999, -9px 0 #cccccc;
    }
}
.offline{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    color: #4e2677;
    position: fixed;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
}
.fc-white{
    color: #ffffff;
}
.history-note{
    border-left: 4px solid #c9c9c9;
    padding-left: 7px;
    margin: 10px 0;
}
.login-form{
    width: 450px;
    margin: auto;
    padding:30px 25px;
}
.daterangepicker.show-calendar .drp-buttons {
    display: flex!important;
    align-items: center;
    justify-content: flex-end;
    .btn-default{
        border: none;
    }
}
div.dataTables_processing{
    z-index: 10;
}
.v-toast{
    z-index: 9999!important;
}
.flex-column{
    flex-direction: column;
}
.dot{
    padding-left: 14px;
    position: relative;
    &:before{
        content: '';
        width: 9px;
        height: 9px;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    &.administrator{
        &:before {
            background: #06674c;
        }
    }
    &.manager{
        &:before {
            background: #ff5722;
        }
    }
    &.member{
        &:before {
            background: #ff9800;
        }
    }
}
.title-section{
    position: relative;
    font-weight: 500;
    &:after{
        content: '';
        width: 50px;
        height: 3px;
        background: #00c2d6;
        position: absolute;
        bottom: -5px;
        left:0;
    }
}
.history-side-overlay{
    width: 100%;
    height: 100vh;
    z-index: 9998;
    background: #0000004d;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    &.show{
        display: block;
    }
}
.history-side{
    width: 405px;
    height: 100vh;
    background: #ffffff;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
    overflow: auto;
    transform: translateX(100%);
    transition: transform 400ms ease-in-out;
    scrollbar-width: none;
    &.show{
        transform: translateX(0);
    }
}
.fs-primary{
    font-size: 0.9rem;
}
.overflow-hidden{
    overflow: hidden;
}
.data-collapsed{
    height: 0;
    overflow: hidden;
    transition: height 500ms ease-in-out;
    &.show{
        height: auto;
    }
}
.show-more{
    cursor: pointer;
}
.notification-count{
    width: 20px;
    height: 20px;
    background: #009688;
    border-radius: 50%;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:0.7rem;
    margin-left: 5px;
    padding: 2px;
}
.text-underlined{
    text-decoration: underline;
}
table{
    &.notification{
        border-collapse: collapse;
        thead{
            tr{
                th{
                    padding: 7px 0;
                    font-weight: bolder!important;
                    text-align: left;
                    font-size: 1rem;
                    border-bottom: 1px solid #999999;
                    //border-top: 5px solid #b2b2b2;
                }
            }
        }
        tbody{
            tr{
                td{
                    padding: 3px 0;
                    vertical-align: top;
                    font-size: 1rem;
                    b{
                        font-weight: 700!important;
                    }
                    span{
                        font-size: 0.9rem;
                    }
                }
                &:first-child{
                    td{
                        padding-top: 10px;
                    }
                }
                &:not(:last-child){
                    td{
                        border-bottom: 1px solid #d3d3d3;
                    }
                }
            }
        }
    }
}
